#oipfcfg {
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 0px; 
    height: 0px;
}

body {
    /*background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    /*-webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    /*animation-name: example;
    animation-duration: 130s;*/
}

#appmgr{
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 0px; 
    height: 0px;
}

#pressRedButtonMessage{
    left: 70px; 
    top: 40px;
    background-color: #ffffff;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    position:absolute;
    box-shadow: 1px 6px 2px grey;
}

.redButtonUnderline{
    background-color: #77cbb9;
    color: rgba(0,0,0,0);
    width: auto;
    margin: 5px -10px -10px -10px;
    height: 5px;
}

.redButtonImg{
    display: inline-block;
    width: 30px;
    height: 10px;
    background-color: red;
    border-style: solid;
    border-width: 1px;
}

.okImage{
    display: inline;
    background-color: grey;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
}

#sync{
    font-family: 'Roboto', sans-serif;
    position:absolute;
    left: 340px;
    top: 180px;
    width: 600px;
    height: 380px;
    background-image: url("/resources/sync.jpeg");
    font-size: 40px;
    color: white;
}

#syncText{
    position: absolute;
    text-align: center;
    left: 105px;
    top: 70px;
}

.notShown{
    opacity: 0;
}

.FadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity:1}
}

.FadeOut{
    animation-name: fadeOut;
    animation-duration: 1s;
    opacity: 0;
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity:0}
}

.FadeInOutIn{
    animation-name: FadeInOutIn;
    animation-iteration-count:infinite;
    animation-duration: 2s;
}

@keyframes FadeInOutIn {
    0%   {opacity: 1}
    50%  {opacity: 0.7}
    100%  {opacity: 1}
}

.test{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 100%;
    height: 100%;
    min-width: 1px;
    min-height: 1px;
    transform-origin: 50% 50% 0px;
}

.ResizeTranslate{
    animation-name: ResizeTranslate;
    animation-duration: 1s;
}

@keyframes ResizeTranslate {
    from{
        width: 100%;
        height: 100%;
    }
    to{
        width: 50%;
        height: 50%;
        position: absolute;
        left: 200px;
        visibility: unset !important;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:purple; left:0px; top:0px;}
    25%  {background-color:cyan; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:cyan; left:0px; top:200px;}
    100% {background-color:purple; left:0px; top:0px;}
}